html {
    background-color: #f25c7b;
}

body {
    border: 1px solid #bf6f8c;
    background-color: #dd88cb;
    box-shadow: 10px 20px 20px #736266;
    width: 90%;
    min-width:600px;
    margin: 30px auto;
    border-radius: 25px;
}

header {
    border: 2px solid yellow;
    width: 100%;
    box-sizing:border-box;
    border-radius: 20px 20px 0 0;
    padding: 20px;
}

#mainHeader {
    display: flex;
}

#logotipo {
    height: 25%;
    width: 30%;
}

body header {
    width: 100%;
    box-sizing:border-box;
}

article {
    border: 2px solid red;
    border-radius: 22px;
    box-shadow: 10px 5px 20px black;
    height:300px;
    width: 85%;
    min-width: 400px;
    margin: 30px;
}

#mainNav {
    display: flex;
    width:50%;
    justify-content:flex-end;
}