<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="./estilos/estilos_formularios.css">
        <title>Solicitar Turno</title>
    </head>
    <body class="flexColumn"><%- include('../../../templates/header') %>

          <h2>Solicitar un Turno</h2>

          <form id="form-turno" class="formulario flexColumn">
            <label for="servicio">Servicio:</label>
            <select id="servicio" name="servicio" required></select>

            <label for="fecha">Fecha:</label>
            <select id="fecha" name="fecha" required></select>

            <label for="hora">Hora:</label>
            <select id="hora" name="hora" required></select>

            <label for="empleado">Profesional:</label>
            <select id="empleado" name="empleado" required></select>
            <div id="botones" style="display: flex;">
              <button type="submit">Reservar Turno</button>
            </div>
          </form>
          <script src="/logicas/formularios/turnos.js"></script>

        <%- include('../../../templates/footer') %>  
    </body>
</html>