header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px 10px 30px;
    margin: 0;
    background-color: var(--color-primario);
    width: 100%;
    box-sizing: border-box;
}

.logo_titles {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}

.headerLogo {
    height: 70px;
    width: 70px;
    border-radius: 15px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    h1, h2 { margin: 0; text-align: center;}
    h1 { font-size: 35px}
    h2 { font-size: 25px;}
}

.headerNav {
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 20px;

    a {
        margin: 0;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        transition: color 0.3s;
    }
}

#sesion {
    display: flex;
    flex-direction: column;
}

#opciones-usuario {
    background-color: transparent;

    option {
        background-color: blue;
    }
}