<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spa Sentirse Bien</title>
    <link rel="stylesheet" href="/estilos_paginas_clientes.css" />
    <link rel="icon" href="./media/imagenes/icono.ico"/>
  </head>
  
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spa Sentirse Bien</title>
        <link rel="stylesheet" href="estilos.css" />
        <link rel="icon" href="./media/imagenes/icono.ico"/>
       

        <title>Confirmar Turno</title>
        <script src="jquery-3.7.1.min.js"></script>

        <script>
        </script>
    </head>

    <header style="display: flex; align-items: center; justify-content: space-between; padding: 10px 30px;">
        <div style="display: flex; align-items: center; gap: 15px;">
          <img src="./media/imagenes/logo-sentirse-bien.png" alt="Logo Sentirse Bien" style="height: 60px; border-radius: 15px;">
          <div style="color: white;">
            <h1 style="margin: 0;">Sentirse Bien</h1>
            <p style="margin: 0;">Bienestar pensado para vos</p>
          </div>
        </div>
        <nav style="background: none; padding: 0;">
            <a href="/pagina_cliente_inicio">Inicio</a>
            <a href="/pagina_cliente_servicios-individuales">Servicios Individuales</a>
            <a href="/pagina_cliente_servicios-grupales">Servicios Grupales</a>      
          </nav>
        
      </header>
      
    <body class="flexColumn">
        <form action="" id="confirmacion" class="formulario flexColumn" method="post">
            <img src="./media/imagenes/logo-sentirse-bien.png" alt="Logo_SPA">
            <h2 id="registroTitulo">Datos del Turno</h2>
            
            <div class="flexRow">
                <label class="dato">Turno N°:</label>
                <label>2528</label>
            </div>

            <div class="flexRow">
                <label class="dato">Cliente:</label>
                <label>Fernandez, Gimena</label>
            </div>

            <div class="flexRow">
                <label class="dato">Servicio solicitado:</label>
                <label>Masajes anti-stress</label>
            </div>

            <div class="flexRow">
                <label class="dato">Precio: $</label>
                <label>5000,00</label>
            </div>

            <div class="flexRow">
                <label class="dato">Fecha y hora:</label>
                <label>Lunes 25 de Mayo 2025 - 17:30hs</label>
            </div>

            <div class="flexRow">
                <label class="dato">Profesional:</label>
                <label>Avecedo, Clara</label>
            </div>

            <div class="flexRow" style="padding-left: 0;">
                <div class="flexRow">
                    <label class="dato">Sección:</label>
                    <label>Masajes</label>
                </div>
                <div class="flexRow soloEste">
                    <label class="dato">Sala N°:</label>
                    <label>3</label>
                </div>
            </div>

            <div id="botones" class="flexRow">
                <button type="button" class="submit">Confirmar Turno</button>
            </div>
        </form>

       <%- include("./template/footer.ejs"); %>

    </body>
</html>