<!DOCTYPE html>
<html lang="es">
  
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gracias por tu reserva!</title>
    <link rel="stylesheet" href="estilos.css" />
    <link rel="icon" href="../../Imagenes/icono.ico"/>
  </head>
  <header style="display: flex; align-items: center; justify-content: space-between; padding: 10px 30px;">
    <div style="display: flex; align-items: center; gap: 15px;">
      <img src="../../Imagenes/logo-sentirse-bien.png" alt="Logo Sentirse Bien" style="height: 60px; border-radius: 15px">
      <div style="color: white;">
        <h1 style="margin: 0;">Sentirse Bien</h1>
        <p style="margin: 0;">Bienestar pensado para vos</p>
      </div>
    </div>
    <nav style="background: none; padding: 0;">
      <a href="../Cliente/inicio.html">Inicio</a>
      <a href="../Cliente/servicios-individuales.html">Servicios Individuales</a>
      <a href="../Cliente/servicios-grupales.html">Servicios Grupales</a>
    </nav>
  </header>
 
  <body>
<main style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 70vh; text-align: center;">
  <h2 style="color: #333;">Tu consulta se envió con éxito</h2>
  <p>En breve alguien de nuestro equipo se va a poner en contacto con vos.<br />
    <br />Si tenés otra duda, podés contactarnos por WhatsApp o por email.<br />
  <br /> Te esperamos para disfrutar de una experiencia única en nuestro spa!</p>  
  </p>
  <a href="inicio.html"><button type="submit" class="submit">Volver al inicio</button></a>
</main>
  <%- include("./template/footer.ejs"); %>
</body>
</html>
