<link rel="stylesheet" href="/estilos/template_header.css">

<header class="header">
    <div class="logo_titles">
        <img src="/media/imagenes/logo-sentirse-bien.png" alt="Logo Sentirse Bien" class="headerLogo">
        <hgroup class="headerTitles">
            <h1>Sentirse Bien</h1>
            <h2>Bienestar pensado para vos</h2>
        </hgroup>
    </div>
    <nav class="headerNav">
        <a href="/">Inicio</a>
        <a href="/pagina_cliente_servicios-individuales">Servicios Individuales</a>
        <a href="/pagina_cliente_servicios-grupales">Servicios Grupales</a> 
    </nav>          
</header>