<link rel="stylesheet" href="/estilos/template_header.css" />

<header class="header">
    <div class="logo_titles">
        <img src="/media/imagenes/logo-sentirse-bien.png" alt="Logo Sentirse Bien" class="headerLogo">
        <hgroup class="headerTitles">
            <h1>Sentirse Bien</h1>
            <h2>Bienestar pensado para vos</h2>
        </hgroup>
    </div>
    <nav class="headerNav">
        <% if(typeof usuario !== 'undefined') { console.log('Usuario: ', usuario);%>
            <a href="/<%= usuario.usuarioTipo %>">Inicio</a> 
            <a href="/<%= usuario.usuarioTipo %>/servicios-individuales">Servicios Individuales</a>
            <a href="/<%= usuario.usuarioTipo %>/servicios-grupales">Servicios Grupales</a>
            <select id="opciones-usuario">
                <option value="" ><%= usuario.nombre %></option>
                <option value="solicitar-turno">Solicitar Turno</option>
                <option value="cerrar-sesion">Cerrar Sesión</option>
            </select>
        <% } else { %>
            <a href="/">Inicio</a>
            <a href="/servicios-individuales">Servicios Individuales</a>
            <a href="/servicios-grupales">Servicios Grupales</a>
            <a href="/inicioSesion">Iniciar Sesión</a>
        <% } %>
    </nav>

    <script src="./logicas/template_header.js"></script>
</header>