<style>

    header {
        background-color: var(--color-primario);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 20px;
    }

    hgroup {
        display: flex;
        align-items: center;
        gap: 15px;
        color:white;
    }

    img { height: 70px; width: 120px; border-radius: 15px;}
    nav {background: none; padding: 0;}
    h1, p { margin: 0}
</style>

<header>
    <hgroup>
        <img src="./media/imagenes/logo-sentirse-bien.png" alt="Logo Sentirse Bien">
        <hgroup style="color: white;">
            <h1>Sentirse Bien</h1>
            <p>Bienestar pensado para vos</p>
        </hgroup>
    </div>
    <nav style="background: none; padding: 0;">
        <a href="/">Inicio</a>
        <a href="/pagina_cliente_servicios-individuales">Servicios Individuales</a>
        <a href="/pagina_cliente_servicios-grupales">Servicios Grupales</a> 
    </nav>          
</header>