* {
    margin:0;
    padding:0;
    font-size:14px;
    border:none;
    font-family: 'Arial';
    background-color:white;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

body {
    height: 100vh;
    background-color:aqua;
}

.formulario {
    border: 1px solid #ff0;
    background-color:pink;
    border-radius: 20px;
    width: 550px;
    margin: auto;
    padding: 20px 20px;
}

img {
    width:100px;
    border-radius: 30px;
    margin:  20px auto;
    background-color: transparent;
}

.formulario h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    background-color:transparent;
}

#botones {
    background-color: transparent;  
    height: 40px;
    /* Separa los elementos entre si y los extremos de los bordes con el mismo espacio.*/
    justify-content:space-evenly;
    margin-top: 15px;
}

#botones button {
    box-shadow: 1px 1px 1px #f0f;
    border-radius: 8px;
    padding: 0 20px;
}

#botones button:hover {
    box-shadow: inset 1px 1px 1px #f0f;
}

.flexColumn input, select {
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 3px 1px 2px #000;
    height: 40px;
    margin: 5px 0 20px 0;
    font-size: 18px;
    padding: 0 10px;
}

.flexColumn input:hover, select:hover {
    box-shadow: inset 3px 1px 2px #000; 
}

.flexColumn input:active {
    border: 2px solid #fff;
}

.flexColumn label {
    color:red;
    background-color:transparent;
    font-size: 20px;
    padding-left: 5px;
}

a, p, div, strong, u, h3 {
    background-color:transparent;
}

p {
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.contraseniaOlv {
    align-items:center;
    justify-content: space-evenly;
    height:70px;
}

a {
    text-decoration:none;
    width: 130px;
    height: 20px;
    margin: auto;
    text-align:center;
    padding:8px;
    border-radius: 3px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

a:hover {
    border-radius: 3px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-right: none;
    border-bottom: none;
}

a:active {
    text-decoration: underline;
}

h2, div, label {
}