<link rel="stylesheet" href="/estilos/carrito.css" />

<div class="floating-cart-button" id="floatingCartButton">
    <i class="fas fa-shopping-cart"></i>
    <span class="cart-count" id="cartCount">
        <%= carrito.length %>
    </span>
</div>

<script src="/logicas/carrito.js"></script>