<!DOCTYPE html>
<html lang="es">
<%- include("../../templates/headTag.ejs") %>

<body>
  <%- include("../../templates/header.ejs") %>

  <main class="pagina-error formulario flexColumn">
    <h2 class="error-404">404</h2>
    <h2>P치gina no encontrada</h2>
    <p>Lo sentimos, la p치gina que est치s buscando no existe o ha sido movida.</p>
    
    <% if(usuario) { %>
      <% if(usuario.usuarioTipo === 'cliente') { %>
        <a href="/cliente" class="boton-volver">Volver al Inicio del Cliente</a>
      <% } else if(usuario.usuarioTipo === 'profesional') { %>
        <a href="/profesional" class="boton-volver">Volver al Inicio del Profesional</a>
      <% } else if(usuario.usuarioTipo === 'admin') { %>
        <a href="/admin" class="boton-volver">Volver al Inicio de Administraci칩n</a>
      <% } %>
    <% } else { %>
      <a href="/" class="boton-volver">Volver al Inicio</a>
    <% } %>
  </main>

  <%- include("../../templates/footer.ejs") %>
</body>
</html>
