<!DOCTYPE html>
<html lang="es">
    <%- include("../../../templates/headTag.ejs", {title: 'Gestión de Turnos'}); %>
    <body>
        <%- include('../../../templates/header.ejs') %>
        

        <script src="/logicas/paginas/servicios.js"></script>
        <%- include('../../../templates/footer.ejs') %>
    </body>
</html>