<!DOCTYPE html>
<html lang="es">
<%- include("../../../templates/headTag.ejs", {title: 'Servicios Grupales'}); %>
<body>
    <%- include('../../../templates/header.ejs') %>
        <form action="" id="turnoConfirmado" class="formulario flexColumn" method="post">
            <img src="../Imagenes/icono.ico" alt="Logo_SPA">
            <h2 id="turnoNumero">Turno N° 2528</h2>
            <div class="flexRow">
                <label class="dato">Cliente:</label>
                <label>Fernandez, Gimena</label>
            </div>

            <div class="flexRow">
                <label class="dato">Servicio solicitado:</label>
                <label>Masajes anti-stress</label>
            </div>

            <div class="flexRow">
                <label class="dato">Precio:  $</label>
                <label>5000,00</label>
            </div>

            <div class="flexRow">
                <label class="dato">Fecha y hora:</label>
                <label>Lunes 25 de Mayo 2025 - 17:30hs</label>
            </div>

            <div class="flexRow">
                <label class="dato">Profesional:</label>
                <label>Avecedo, Clara</label>
            </div>

            <div class="flexRow" style="padding: 0;">
                <div class="flexRow">
                    <label class="dato">Sección:</label>
                    <label>Masajes</label>
                </div>
                <div class="flexRow soloEste">
                    <label class="dato">Sala N°:</label>
                    <label>3</label>
                </div>
            </div>

            <div id="botones" class="flexRow">
                <button type="button" class="submit">Solicitar Nuevo Turno</button>
                <button type="button" class="submit">Ir a mis Turnos</button>
                <button type="button" class="submit">Ir a la Página</button>
            </div>
        </form>
        <%- include('../../../templates/footer.ejs') %>
    </body>
</html>