<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de contraseña</title>
    <link href="./estilos/estilos_formularios.css" rel="stylesheet">
    <link rel="icon" href="./media/imagenes/icono.ico"/>
</head>
<body class="flexColumn">
    <header style="display: flex; align-items: center; justify-content: space-between; padding: 10px 30px;">
        <div style="display: flex; align-items: center; gap: 15px;">
          <img src="./media/imagenes/logo-sentirse-bien.png" alt="Logo Sentirse Bien" style="height: 60px; border-radius: 15px;">
          <div style="color: white;">
            <h1 style="margin: 0;">Sentirse Bien</h1>
            <p style="margin: 0;">Bienestar pensado para vos</p>
          </div>
        </div>  
        
        <nav style="background: none; padding: 0;">
            <a href="/">Inicio</a>
            <a href="/pagina_cliente_servicios-individuales">Servicios Individuales</a>
            <a href="/pagina_cliente_servicios-grupales">Servicios Grupales</a>      
          </nav>
        
      </header>
    <form action="" id="confirmarClave" class="formulario flexColumn" method="post">
        <img src="./media/imagenes/icono.ico" alt="Logo_SPA">
        <h2>Recuperar mi contraseña</h2>

        <label>Escriba el código que recibió en su mail a continuación</label>
        <input type="text" placeholder="Inserte aquí el código">
        <div id="botones" class="flexRow">
            
          <a href="/formulario_ingreseNuevaContrasenia" class="submit">Continuar</a>
        </div>
    </form>

    <%- include("./template/footer.ejs"); %>

</body>
</html>