<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <link href="/estilos/globalVariables.css" rel="stylesheet" />
    <link rel="stylesheet" href="./estilos/estilos_formularios.css" />
    <link rel="icon" href="./media/imagenes/icono.ico"/>
  </head>
  
<body>
  <%- include("../../templates/header.ejs"); %>
  <main class="formulario animacion-scroll">
    <h2>Iniciar Sesión</h2>
    <form id="formLogin" class="flexColumn" method="post">
      <label for="nombre">Usuario:</label>
      <input type="text" id="usuario" placeholder="Usuario" required>
      <label for="nombre">Contraseña:</label>
      <input type="password" id="contrasenia" placeholder="Contraseña" required>
  
      <div class="registro flexRow" style="gap: 180px">
        <a href="/formulario_olvideMiContrasenia" style="color: red; text-shadow: 0 0 5px white; text-decoration:none;">¿Olvidaste tu contraseña?</a>
        <a href="/registro" id="registrarme">Registrarme</a>
      </div>
      
      <div id="botones" class="flexRow" style="margin: auto">
        <button id="ingresar" type="submit" class="submit">Ingresar</button>
        <p id="mensajeError" style="color: red;"></p>
      </div>
      
    </form>
  </main>
  
  <%- include("../../templates/footer.ejs"); %>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelector("main").classList.add("visible");
    });
  </script>
  

  <script>
    let ingresar=document.getElementById('ingresar');
    ingresar.addEventListener('click', () => {
      
    })


    const usuariosHardcodeados = [
      { usuario: "cliente1", contrasenia: "1234", rol: "cliente" },
      { usuario: "admin1", contrasenia: "admin", rol: "admin" }
    ];

    document.getElementById("formLogin").addEventListener("submit", function(e) {
      e.preventDefault();
      const user = document.getElementById("usuario").value.trim();
      const pass = document.getElementById("contrasenia").value.trim();

      const encontrado = usuariosHardcodeados.find(u => u.usuario === user && u.contrasenia === pass);

      if (encontrado) {
        localStorage.setItem("usuarioLogueado", JSON.stringify(encontrado));
        if (encontrado.rol === "admin") {
          window.location.href = "./usuarios/Admin/admin.html";
        } else {
          window.location.href = "/";
        }
      } else {
        document.getElementById("mensajeError").textContent = "Usuario o contraseña incorrectos.";
      }
    });

    
  </script>
</body>
</html>
