<!DOCTYPE html>
<html lang="es">
<%- include("../../../../templates/headTag.ejs", {title: 'Recuperar mi Contraseña'}); %>
<body class="flexColumn">
    <%- include("../../../../templates/header.ejs"); %>

    <form action="/validar-codigo" id="confirmarClave" class="formulario flexColumn" method="post">
        <img src="/media/imagenes/icono.ico" alt="Logo_SPA">
        <h2>Recuperar mi contraseña</h2>

        <label>Escriba el código que recibió en su mail a continuación</label>
        <input type="text" name="codigo" required placeholder="Inserte aquí el código">
        
        <div id="botones" class="flexRow">
          <button type="submit" class="submit">Continuar</button>
        </div>
    </form>

    <%- include("../../../../templates/footer.ejs"); %>

</body>
</html>