<!DOCTYPE html>
<html lang="es">
<%- include("../../../../templates/headTag.ejs", {title: 'Recuperar mi Contraseña'}); %>
<body class="flexColumn">
    <%- include("../../../../templates/header.ejs"); %>

    <form action="" id="confirmarClave" class="formulario flexColumn" method="post">
        <img src="./media/imagenes/icono.ico" alt="Logo_SPA">
        <h2>Recuperar mi contraseña</h2>

        <label>Escriba el código que recibió en su mail a continuación</label>
        <input type="text" placeholder="Inserte aquí el código">
        <div id="botones" class="flexRow">
            
          <a href="/ingreseNuevaContrasenia" class="submit">Continuar</a>
        </div>
    </form>

    <%- include("../../../../templates/footer.ejs"); %>

</body>
</html>