<!DOCTYPE html>
<html lang="es">
<%- include("../../../../templates/headTag.ejs", {title: 'Nueva Contraseña'}); %>
<body class="flexColumn">
  <%- include("../../../../templates/header.ejs"); %>
    <form action="" id="nuevaClave" class="formulario flexColumn" method="post">
        <img src="./media/imagenes/icono.ico" alt="Logo_SPA">
        <h2>Nueva contraseña</h2>
        <label>Escriba a continuación una nueva contraseña</label>
        <input type="password" >
        
        <label>Repita su nueva contraseña</label>
        <input type="password" >

        <div id="botones" class="flexRow">
          <a href="/Formulario_contraseniaActualizadaCorrectamente" class="submit">Confirmar</a>
        </div>
    </form>
    <%- include("../../../../templates/footer.ejs"); %>
</body>
</html>