<!DOCTYPE html>
<html lang="es">
<%- include("../../../../templates/headTag.ejs", {title: 'Recuperar mi Contraseña'}); %>
<body class="flexColumn">
    <%- include("../../../../templates/header.ejs"); %>

    <form action="" id="recuperarClave" class="formulario flexColumn" method="post">
        <img src="./media/imagenes/logo-sentirse-bien.png" alt="Logo_SPA" style="height: 60px; border-radius: 15px;">
        <h2>Recuperar mi contraseña</h2>

        <label>Para recuperar su contraseña, ingrese el mail con el que se ha registrado</label>
        <input type="email" placeholder="usuario@mail.com">
        
        <div id="botones" class="flexRow" >
            <a href="/formulario_confirmarCodigo" class="submit">Enviar</a>
        </div>
    </form>

    <%- include("../../../../templates/footer.ejs"); %>
</body>
</html>